In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('wiki-topcats.txt', sep=" ", header=None)
data.columns = ["source_node", "destination"]
data.head()

   source_node  destination
0            0        10772
1            1            2
2            1       170193
3            1       598775
4            2            1

#### Parsing nodes in categories

In [3]:
categories = pd.read_csv('wiki-topcats-categories.txt', sep=";", header=None)
categories.columns = ["category_name", "nodes"]
categories.head()

,category_name,nodes
0,Category:Buprestoidea,301 302 303 304 305 306 307 308 309 310 311 3...
1,Category:People_from_Worcester,1056 1057 1058 1059 1060 60971 76515 76871 78...
2,Category:Skin_conditions_resulting_from_physic...,971 973 1166 1167 1168 1169 1170 1171 1172 11...
3,Category:Visual_kei_bands,1297 1300 1311 1312 1313 1314 1315 1316 1319 ...
4,Category:Japanese_rock_music_groups,1297 1300 1313 1314 1315 1316 1319 1320 1322 ...

In [4]:
MIN_NODES_NUM = 150_000

In [5]:
nodes_in_graph = set()

all_nodes = categories.nodes.values
for category_nodes in all_nodes:
    
    # Parse nodes in each category:
    for node_str in category_nodes.split(' '):
        if len(node_str) > 0:
            nodes_in_graph.add(int(node_str))
    
        if len(nodes_in_graph) > MIN_NODES_NUM: # if min requirements is achieved -> stop:
            break

In [6]:
list_nodes = np.array(list(nodes_in_graph))
print(len(list_nodes))

150001

In [7]:
source_nodes = data["source_node"]
cutted_data = data[source_nodes.isin(nodes_in_graph)]

print(len(cutted_data))
cutted_data.head()

2710888

     source_node  destination
0              0        10772
425           52       401135
426           52       499212
427           52      1015684
428           52      1055792

Save cutted dataset to csv:

In [8]:
cutted_data.to_csv(r'cutted_by_categories.csv', index = None, header=False)